.container{
    background-image: url(/background3.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about{
    display: flex;
    color: #eeeeee;
    border-radius: 15px;
    padding: 1vw;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: absolute;
    top: 30vh;
    background-color: rgba(255, 255, 255, 0.3);
    max-width: 90vw;
}
.p{
    font-size: 28px;
}
.link{

    color: black;
}
