.container{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    background-image: linear-gradient(to bottom right, #6c72cb, #cb69c1);
    color: black;
    padding: 10px;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 999;

}
.navbarLink:hover   {
    color: #eeedf0;
}